<%= form_with(model: shop) do |form| %>
  <%= render partial: 'shared/errors', locals: { model: shop } %>

  <div>
    <div>
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div>
      <%= form.label :url, class: 'form-label' %>
      <%= form.text_field :url, class: 'form-control' %>
    </div>
    <div>
      <%= form.label :token, class: 'form-label' %>
      <%= form.text_field :token, class: 'form-control' %>
    </div>
    <div>
      <%= form.label :remote_id, class: 'form-label' %>
      <%= form.text_field :remote_id, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
