<%= form_with(model: shop) do |form| %>
  <% if shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
        <% shop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :url %>
      <%= form.text_field :url %>
    </div>
    <div>
      <%= form.label :token %>
      <%= form.text_field :token %>
    </div>
    <div>
      <%= form.label :remote_id %>
      <%= form.text_field :remote_id %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
