<div>
  <div><strong>Name: </strong><%= @shop.name %></div>
  <div><strong>Url: </strong><%= @shop.url %></div>
  <div><strong>Token: </strong><%= @shop.token %></div>
  <div><strong>Remote Id: </strong><%= @shop.remote_id %></div>
<div>

<br>
<%= link_to 'Edit', edit_shop_path(@shop), class: 'btn btn-outline-primary' %>
<%= link_to 'Back', shops_path, class: 'btn btn-outline-primary' %>
