<%= form_with(model: redirect) do |form| %>
  <% if redirect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(redirect.errors.count, "error") %> prohibited this redirect from being saved:</h2>

      <ul>
        <% redirect.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div>
      <%= form.label :shop_id %>
      <%= form.select :shop_id, Shop.all.map { |s| [s.name, s.id] } %>
    </div>
    <div>
      <%= form.label :origin %>
      <%= form.text_field :origin %>
    </div>
    <div>
      <%= form.label :destination %>
      <%= form.text_field :destination %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
