<%= form_with(model: redirect) do |form| %>
  <%= render partial: 'shared/errors', locals: { model: redirect } %>

  <div>
    <div>
      <%= form.label :shop_id, class: 'form-label' %>
      <%= form.select :shop_id, Shop.all.map { |s| [s.name, s.id] }, {}, class: 'form-select' %>
    </div>
    <div>
      <%= form.label :origin, class: 'form-label' %>
      <%= form.text_field :origin, class: 'form-control' %>
    </div>
    <div>
      <%= form.label :destination, class: 'form-label' %>
      <%= form.text_field :destination, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'btn btn-success' %>
  </div>
<% end %>
